#project_list_wrapper {
  margin: 15px 5px 0 5px;
}
#project_list_wrapper table thead tr th {
  font-size: 14px;
}
#project_list_wrapper table tbody tr td {
  font-size: 14px;
}
#project_list_wrapper table tbody tr.odd.row_selected td {
  background-color: #9FAFD1;
}
#project_list_wrapper table tbody tr.even.row_selected td {
  background-color: #B0BED9;
}
