div.dataTables_wrapper {
  margin: 15px 5px 0 5px;
}
table.dataTable thead tr th {
  font-size: 14px;
}
table.dataTable tbody tr td {
  font-size: 14px;
}
table.dataTable tbody tr.odd.row_selected td {
  background-color: #9FAFD1;
}
table.dataTable tbody tr.even.row_selected td {
  background-color: #B0BED9;
}
