body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Microsoft YaHei', Arial, 'Lucida Grande', Tahoma, sans-serif;
  background-color: #eee;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {
  font-family: 'Microsoft YaHei', Arial, 'Lucida Grande', Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
body .panel .panel-heading {
  font-size: 16px;
}
body .panel .panel-body label {
  font-size: 16px;
}
body .container {
  width: 1200px;
}
